$alert-danger: rgb(202, 60, 60);

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form.pure-form-brewed {
  div.has-error {
    color: $alert-danger;

    input, input:focus {
      border-color: $alert-danger;
    }
  }
}
