$alert-danger: rgb(202, 60, 60);

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form.pure-form-brewed {
  div.has-error {
    color: $alert-danger;

    input, input:focus {
      border-color: $alert-danger;
    }
  }
}

ul.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  li.skip, li.current {
    span {
      padding: .5rem;
    }
  }
}
